*{
    font-family: "Poppins";
}

/* Simple Spinner, Reference: -> https://codepen.io/mandelid/pen/kNBYLJ */
.spinner {
    display: inline-block;
    width: 50px;
    height: 50px;
    border: 3px solid rgba(255,255,255,.3);
    border-radius: 50%;
    border-top-color: #747474;
    animation: spin 1s ease-in-out infinite;
    -webkit-animation: spin 1s ease-in-out infinite;
  }
  
  @keyframes spin {
    to { -webkit-transform: rotate(360deg); }
  }
  @-webkit-keyframes spin {
    to { -webkit-transform: rotate(360deg); }
  }
/* End spinner css */

#main-image-container {
    display: flex;
    gap: 20px;
    flex-direction: column;
    min-height: 100vh;
    flex-wrap: wrap;
}

.placeholder {
    display: none;
}

.spinner-wrapper {
    display: none;
}

.flex-row {
    display: flex;
    gap: 0 20px;
}

.error-message-p {
    text-align: center;
    padding: 1rem;
    font-size: 12px;
}

.flex-row-col {
    background: #e7e7e7;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.flex-row-col img {
    object-fit: cover;
    height: 100%;
    width: 100%;
}

.flex-row-col.loading .spinner-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;

}
.flex-grow-1 {
    flex-grow: 1;
}

.flex-grow-2 {
    flex-grow: 2;
}

.flex-grow-3 {
    flex-grow: 3;
}

.flex-grow-4 {
    flex-grow: 4;
}

@media (max-width: 1300px){
    .flex-row-col {
        height: 300px;
    }

}


@media (max-width: 768px){
    #main-image-container {
        flex-direction: column;
    }
    .flex-row {
        flex-direction: column;
        gap: 20px;
    }
    .flex-row div {
        width: 100%;
    }
    .flex-grow-1, .flex-grow-2, .flex-grow-3, .flex-grow-3{
        flex-grow: 1;
    }
}



