.table-wrapper{
    width: 60%;
    margin: 2rem auto;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.random-fact-wrapper {
    text-align: center;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    padding: 5px;
}

.table-pagination-buttons {
    display: flex;
    gap: 5px;
    margin: 2rem auto;
    width: auto;
}

.table-pagination-buttons a, .table-pagination-buttons span {
    display: inline-block;
    border: 1px solid black;
    padding: 5px;
    text-decoration: none;
    color: black;
    font-weight: 600;
    font-size: 20px;
}